
<%- include('../partials/header') %>

<a href="/pokemon/new">Add A Pokemon</a>



 <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Pokedex Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% allPokemon.forEach(function(p) { %>
        <td><%= p.name  %></td>
        <td><%= p.type  %></td>
        <td><%= p.pokeDexNo  %></td>
      </tr>
      <% }) %>
 
    </tbody>
 </table>
    
      
    
  




</body>
</html>