<%- include('../partials/header') %>


<form action="/pokemon" method="POST">
  <label>Name:
    <input type="text" name="name" autocomplete="off">
  </label><br>
  <label>Type:
    <input type="text" name="type" autocomplete="off">
  </label><br>
  <label>PokeDexNumber:
    <input type="number" name="pokeDexNo" required pattern="\d{4}" autocomplete="off"> Format should be 0002
  </label><br>
  <button type="submit">Add Pokemon</button>

</body>
</html>